<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conString" connectionString="Data Source = DESKTOP-CDPS71M\SQLEXPRESS; Initial Catalog = Museum ; Integrated Security = true"/>
  </connectionStrings>
  <appSettings>
    <add key="select1" value="select * from Online_Events"/>
    <add key="select2" value="select * from Museum_Events"/>
    <add key="parent" value="Online_Events"/>
    <add key="child" value="Museum_Events"/>
    <add key="FKName" value="OnlineMuseumComp"/>
    <add key="FKID" value="event_id"/>
    
    <!--<add key="select1" value="select * from Subscribers"/>
    <add key="select2" value="select * from Site_Subscribers"/>
    <add key="parent" value="Subscribers"/>
    <add key="child" value="Site_Subscribers"/>
    <add key="FKName" value="FK_Site_Subscribers"/>
    <add key="FKColumn" value="subscrb_id"/>-->
  </appSettings>
</configuration>